/src/.vs
/src/Ecommerce.API/bin/*
/src/Ecommerce.API/obj
/src/Ecommerce.Application/bin
/src/Ecommerce.Application/obj
/src/Ecommerce.Domain/bin/*
/src/Ecommerce.Domain/obj
/src/Ecommerce.Infrastructure/bin/*
/src/Ecommerce.Infrastructure/obj
/src/Ecommerce.API/logs/*.*
/src/Ecommerce.API/stderr.txt
/src/Ecommerce.API/stdout.txt
/src/Ecommerce.Application.Tests/obj
/src/Ecommerce.Application.Tests/bin/Debug/net10.0/*.Tests
/src/Ecommerce.Application.Tests/bin/Debug/net10.0
/src/Ecommerce.UI/ClientApp/node_modules
/src/Ecommerce.UI/bin/
/src/Ecommerce.UI/obj/
/src/Ecommerce.API/bin
/src/Ecommerce.Application.Tests/bin
/src/Ecommerce.Domain/bin
/src/Ecommerce.Infrastructure/bin
/src/*.log
/src/build2.txt
/src/build_output.txt
